@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

h1, h2{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 90px;
	color: #FCFBE3;
}
h2{
	font-size: 45px;
}

#pink{
	background: #000 url(../images/forest.jpg) no-repeat center center fixed;
	background-size: cover;
}


#services{
	background-color: #000;

}
#portfolio{
	background: grey;

}
/*
---------------------- Navigation ------------------- */

.nav-container{
	height: 60px;
	width: 100%;
	background: rgba(0, 0, 0, .45);
	position: absolute;
	z-index: 9999;
}
.nav-container ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
	padding: 0 30px;
	text-transform: uppercase;
	font-family: "Lato";
	font-weight: 400;
	font-size: 12px;
	line-height: 60px;
}
.nav-container ul a{
	color: rgba(255, 255, 255, .75);
	text-decoration: none;

}
.nav-container ul a:hover{
	color: #FCFBE3;

}

/*
---------------------- LOGO ------------------- */

.main-logo img{
	height: 20px;
	position: absolute;
	left: 30px;
	top: 20px;
}

/*
---------------------- slogan ------------------- */

.slogan{
text-align: center;
font-weight: 700;

}
#sunday{
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	
}
.slogan-2{
	font-family: 'Lato';
	font-weight: 300;
	font-size: 24px;
	letter-spacing: .1em;
	width: 800px;
	margin: 0 auto;
}

/*
---------------------- services section ------------------- */



/*////////////////////////////////////////////////////////////



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/*----------Hero/background image----------------*/




/*----------center main logo----------------*/

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*----------typography----------------*/

h1, h3{
	color:#fff;
	text-align: center;
}

.blog-section img{
	width: 100%;
	text-align: center;
}


/*----------Navigation----------------*/

.navigation{
	width: 100%;
	height: 50px;


}
.navigation ul{
	text-align: right;
	float: right;
	background: rgba(255, 255, 255, .04);
	width: 100%;
	line-height: 50px;
	margin: 0;
	padding: 0;

}

.navigation ul li{
	display: inline-block;
	margin-bottom: 0;
	margin-right: 35px;
	
}

.navigation ul li a{
	color: rgba(255, 255, 255, .7);
	text-decoration: none;
	transition: .25s all linear;

}

.navigation ul li a:hover{
	color: rgba(255, 255, 255, 1);

}

/*----------center text----------------*/


.logo img{
	max-width: 70%;
	height: auto;
	margin: 0 auto;
	display: block;

}

/*----------blog section---------------*/

.blog-section{
	background: rgba(255, 255, 255, .6);
	padding: 40px;
	margin-top: 100px;
	margin-bottom: 100px;

}

/*----------blog landing---------------*/

.blog-landing{
	margin-top: 100px;
	margin-bottom: 100px;

}

p:last-child{
	margin-bottom: 0;
}


.one-third{
	background: rgba(255, 255, 255, .6);
	padding: 10px;
	margin-bottom: 20px;
}

.one-third h4{
	text-align: left;
}
.blog-heading, .blog-date{
	margin-bottom: 0px;
}

.blog-heading a{
	color: inherit;
	text-decoration: none;
}

/* --------PORTFOLIO SECTION -----------*/
.grid{
	background: #eee;
	max-width: 960px;
	margin: 150px auto;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item{
	width: 320px;
	height: 320px;
	float: left;
	background: #d26;
	border: 1px solid black;
}
.grid-item2{
	width: 320px;
	height: 450px;
	background: #e26;

}
.grid-item3{
	width: 320px;
	height: 550px;
	background: green;
}

/* Bigger than 550 */

/* Larger than mobile */
@media screen and (max-width: 550px) {


	.navigation{
		width: 100%;
		float: none;


	}
	.navigation ul{
		text-align: center;
		
		line-height: 50px;
		width: 100%;

	}

	.navigation ul li{
		background: rgba(255, 255, 255, .2);
		display: block;
		margin: 0;
		font-size: 18px;
	}
	
	.navigation ul li:hover{
		background: rgba(255, 255, 255, .5);
	}
	.navigation ul li a{
		display: block;

	}

	.blog-section, .blog-landing{
		margin-top: 235px;

	}

	.centered {
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translate(-50%,-50%);
	}




}




